process {
    withName: "RECONST_FRF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.max_dti_shell_value = 1200
        ext.fa = 0.7
        ext.fa_min = 0.5
        ext.nvox_min = 100
        ext.roi_radius = 20
        ext.set_frf = true
        ext.manual_wm_frf = "15,4,4,12,3,3,9,3,3"
        ext.manual_gm_frf = "8,7,7,7,6,6,5,5,5"
        ext.manual_csf_frf = "17,17,17,10,10,10,8,8,8"
        ext.method = "msmt"
        ext.precision = 8
    }
}
