process {
    withName: "RECONST_FRF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.max_dti_shell_value = 1200
        ext.fa = 0.7
        ext.fa_min = 0.5
        ext.nvox_min = 300
        ext.roi_radius = 20
        ext.set_frf = false
        ext.precision = 8
    }
}
