process {
    withName: "REGISTRATION_ANATTODWI" {
        ext.run_qc = true
    }

    withName: "REGISTRATION_ANTS" {
        ext.quick = true
        ext.repro_mode = true
        ext.transform = "a"
        ext.initial_transform = "intensities"
        ext.run_qc = true
        ext.random_seed = 44
    }
}
