process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    cpus = 1

    withName: "REGISTRATION_SYNTHMORPH" {
        ext.models = ["affine"]
        ext.regularization = 0.9
        ext.steps = 9
        ext.extent = 192
        memory = 2.GB
    }

    withName: "REGISTRATION_ANATTODWI" {
        ext.run_qc = true
    }

    withName: "REGISTRATION_ANTS" {
        ext.quick = true
        ext.repro_mode = true
        ext.transform = "a"
        ext.initial_transform = "intensities"
        ext.run_qc = true
        ext.random_seed = 44
    }

    withName: "REGISTRATION_EASYREG" {
        ext.affine_only = true
        memory = 4.GB
    }

    withName: "MASK_FIXED_IMAGE" {
        ext.first_suffix = "fixed_image"
    }

    withName: "MASK_MOVING_IMAGE" {
        ext.first_suffix = "moving_image"
    }
}
