process {
    withName: "REGISTRATION_ANATTODWI" {
        ext.cpus = 1
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
    withName: "REGISTRATION_ANTS" {
        ext.quick = true
        ext.threads = 1
        ext.random_seed = 44
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
}
