process {
    withName: "TRACKING_LOCALTRACKING" {
        ext.local_fa_tracking_mask_threshold = 0.1
        ext.local_random_seed = 1234
        ext.local_compress_streamlines = true
        ext.local_compress_value = 0.2
        ext.local_algo = "prob"
        ext.local_seeding = "nt"
        ext.local_nbr_seeds = 100
        ext.local_step = 1.0
        ext.local_seeding_mask_type = "wm"
        ext.local_tracking_mask_type = "wm"
        ext.local_theta = 20
        ext.local_sfthres = 0.1
        ext.local_min_len = 3
        ext.local_max_len = 40
        ext.basis = "descoteaux07"
        ext.run_qc = true
    }
}
