process {
    withName: "PREPROC_EDDY" {
        ext.prefix_topup = "topup_results"
        ext.default_config_topup = "b02b0.cnf"
        ext.encoding = "y"
        ext.readout = 0.062
        ext.b0_thr_extract_b0 = 10
        ext.slice_drop_flag = true
        ext.bet_topup_before_eddy_f=0.16
        ext.eddy_cmd="eddy_cpu"
        ext.dilate_b0_mask_prelim_brain_extraction = 5
        ext.bet_prelim_f = 0.16
        ext.extra_args = "--flm=linear --niter=2"
        ext.run_qc = true
    }
}
