config {
    // location for all nf-tests
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: "tests/.runs"

    // run all test with the defined docker profile from the main nextflow.config
    profile ""

    ignore ".venv/**/*.nf*"

    requires( 
        "nf-test": "0.9.0"
    )

    plugins {
        repository "https://raw.githubusercontent.com/AlexVCaron/nf-neuro/port/nf-scil/tests/config/plugins.json"

        load "nft-nifti@0.0.1"
    }
}
