
process {

    /* SUBWORKFLOWS CONFIGURATION */

    withName: "TRACTOFLOW:PREPROC_DWI:DENOISE_DWI" {
        ext.extent = params.dwi_denoise_patch_size
    }

    withName: "TRACTOFLOW:PREPROC_DWI:DENOISE_REVDWI" {
        ext.extent = params.dwi_denoise_patch_size
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:UTILS_EXTRACTB0" {
        ext.b0_extraction_strategy = "mean"
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_TOPUP" {
        ext.prefix_topup            = "topup_results"
        ext.default_config_topup    = params.dwi_topup_config_file
        ext.encoding                = "y"  //FIXME : this is subject bound, pass through meta ?
        ext.readout                 = 0.062 //FIXME : this is subject bound, pass through meta ?
        ext.b0_thr_extract_b0       = params.b0_max_threshold
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY" {
        ext.prefix_topup                            = "topup_results"
        ext.slice_drop_flag                         = params.dwi_eddy_restore_slices
        ext.bet_topup_before_eddy_f                 = 0.16
        ext.eddy_cmd                                = params.dwi_eddy_executable
        ext.dilate_b0_mask_prelim_brain_extraction  = 5
        ext.bet_prelim_f                            = 0.16
        ext.b0_thr_extract_b0                       = params.b0_max_threshold
        ext.encoding                                = "y"  //FIXME : this is subject bound, pass through meta ?
        ext.readout                                 = 0.062 //FIXME : this is subject bound, pass through meta ?
    }

    withName: "TRACTOFLOW:PREPROC_DWI:BETCROP_FSLBETCROP" {
        ext.bet_f   = 0.16
        ext.b0_thr  = params.b0_max_threshold
        ext.crop    = true
        ext.dilate  = false
    }

    withName: "TRACTOFLOW:PREPROC_DWI:N4_DWI" {
        ext.bspline_knot_per_voxel  = params.dwi_n4_density
        ext.shrink_factor           = params.dwi_n4_subsampling
    }

    withName: "TRACTOFLOW:PREPROC_DWI:RESAMPLE_DWI" {
        ext.voxel_size      = params.dwi_resample_resolution_mm_iso
        ext.interp          = params.dwi_resample_interpolation
        ext.first_suffix    = "dwi"
    }

    withName: "TRACTOFLOW:PREPROC_DWI:IMAGE_CROPVOLUME" {
        ext.output_bbox = false
    }

    withName: "TRACTOFLOW:PREPROC_DWI:RESAMPLE_MASK" {
        ext.voxel_size      = params.dwi_resample_resolution_mm_iso
        ext.interp          = "nn"
        ext.first_suffix    = "dwi_mask"
    }

    withName: "TRACTOFLOW:PREPROC_T1:IMAGE_CROPVOLUME_T1" {
        ext.output_bbox     = true
        ext.first_suffix    = "t1"
    }

    withName: "TRACTOFLOW:PREPROC_T1:IMAGE_RESAMPLE" {
        ext.voxel_size      = params.t1_resample_resolution_mm_iso
        ext.interp          = params.t1_resample_interpolation
        ext.first_suffix    = "t1"
    }

    //withName: "TRACTOFLOW:T1_REGISTRATION:REGISTER_ANATTODWI" {
        // Nothing to do !
    //}

    //withName: "TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FASTSEG" {
        // Nothing to do !
    //}

    //withName: "TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FREESURFERSEG" {
        // Nothing to do !
    //}

    /* MODULES CONFIGURATION */

    withName: "TRACTOFLOW:TRANSFORM_WMPARC" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: "TRACTOFLOW:TRANSFORM_APARC_ASEG" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "MultiLabel"
        ext.output_dtype    = "short"
        ext.default_val     = 0
    }

    withName: "TRACTOFLOW:TRANSFORM_LESION_MASK" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: "TRACTOFLOW:RECONST_FRF" {
        ext.fa          = params.frf_fa_max_threshold
        ext.fa_min      = params.frf_fa_min_threshold
        ext.nvox_min    = params.frf_min_n_voxels
        ext.roi_radius  = params.frf_roi_radius
        ext.set_frf     = params.frf_value_to_force ? true : false
        ext.manual_frf  = params.frf_value_to_force
    }

    //withName: "RECONST_MEANFRF" {
        // Nothing to do !
    //}

    withName: "TRACTOFLOW:RECONST_DTIMETRICS" {
        ext.ad                  = true
        ext.evecs               = true
        ext.evals               = true
        ext.fa                  = true
        ext.ga                  = true
        ext.rgb                 = true
        ext.md                  = true
        ext.mode                = true
        ext.norm                = true
        ext.rd                  = true
        ext.tensor              = true
        ext.nonphysical         = true
        ext.pulsation           = true
        ext.residual            = true
        ext.max_dti_shell_value = params.dti_max_bvalue
        ext.dti_shells          = params.dti_shells_to_fit
    }

    withName: "TRACTOFLOW:RECONST_FODF" {
        ext.b0_thr_extract_b0       = params.b0_max_threshold
        ext.bvalue_tolerance        = params.bvalue_tolerance
        ext.min_fodf_shell_value    = params.fodf_min_bvalue
        ext.fodf_shells             = params.fodf_shells_to_fit
        ext.sh_order                = params.fodf_sh_order
        ext.sh_basis                = params.fodf_sh_basis
        ext.fa_threshold            = params.fodf_peaks_ventricle_max_fa
        ext.md_threshold            = params.fodf_peaks_ventricle_min_md
        ext.relative_threshold      = params.fodf_peaks_relative_threshold
        ext.fodf_metrics_a_factor   = params.fodf_peaks_absolute_factor
        ext.absolute_peaks          = true
        ext.peaks                   = true
        ext.peak_indices            = true
        ext.afd_max                 = true
        ext.afd_total               = true
        ext.afd_sum                 = true
        ext.nufo                    = true
    }

    withName: "TRACTOFLOW:TRACKING_PFTTRACKING" {
        ext.pft_seeding_mask_type           = params.pft_seeding_type
        ext.pft_fa_seeding_mask_threshold   = params.pft_fa_min_threshold
        ext.pft_seeding                     = params.pft_seeding_strategy
        ext.pft_nbr_seeds                   = params.pft_number_of_seeds
        ext.pft_algo                        = params.pft_algorithm
        ext.pft_step                        = params.pft_step_mm
        ext.pft_theta                       = params.pft_theta_max_deviation
        ext.pft_sfthres                     = 0.1
        ext.pft_sfthres_init                = 0.5
        ext.pft_min_len                     = params.pft_min_streamline_length
        ext.pft_max_len                     = params.pft_max_streamline_length
        ext.pft_particles                   = params.pft_number_of_particles
        ext.pft_back                        = params.pft_backward_step_mm
        ext.pft_front                       = params.pft_forward_step_mm
        ext.pft_random_seed                 = params.pft_random_seed
        ext.pft_compress_streamlines        = params.pft_compression_step_mm > 0
        ext.pft_compress_value              = params.pft_compression_step_mm
        ext.basis                           = params.fodf_sh_basis
    }

    withName: "TRACTOFLOW:TRACKING_LOCALTRACKING" {
        ext.enable_gpu                          = params.lt_processor == "gpu"
        ext.gpu_batch_size                      = params.lt_processor == "gpu" ? params.lt_gpu_batch_size : null
        ext.local_tracking_mask_type            = params.lt_tracking_type
        ext.local_fa_tracking_mask_threshold    = params.lt_fa_min_threshold_for_tracking
        ext.local_seeding_mask_type             = params.lt_seeding_type
        ext.local_fa_seeding_mask_threshold     = params.lt_fa_min_threshold_for_seeding
        ext.local_seeding                       = params.lt_seeding_strategy
        ext.local_nbr_seeds                     = params.lt_number_of_seeds
        ext.local_algo                          = params.lt_algorithm
        ext.local_step                          = params.lt_step_mm
        ext.local_theta                         = params.lt_theta_max_deviation
        ext.local_sfthres                       = 0.1
        ext.local_min_len                       = params.lt_min_streamline_length
        ext.local_max_len                       = params.lt_max_streamline_length
        ext.local_random_seed                   = params.lt_random_seed
        ext.local_compress_streamlines          = params.lt_compression_step_mm > 0
        ext.local_compress_value                = params.lt_compression_step_mm
        ext.basis                               = params.fodf_sh_basis
    }
}
