
process {

    /* SUBWORKFLOWS CONFIGURATION */

    withName: "TRACTOFLOW:PREPROC_DWI:DENOISE_DWI" {
        ext.extent = params.dwi_noise_filter_patch_size
    }

    withName: "TRACTOFLOW:PREPROC_DWI:DENOISE_REVDWI" {
        ext.extent = params.dwi_noise_filter_patch_size
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:UTILS_EXTRACTB0" {
        ext.b0_extraction_strategy = "mean"
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_TOPUP" {
        ext.prefix_topup            = params.dwi_susceptibility_filter_output_prefix
        ext.default_config_topup    = params.dwi_susceptibility_filter_config_file
        ext.encoding                = "y"  //FIXME : this is subject bound, pass through meta ?
        ext.readout                 = 0.062 //FIXME : this is subject bound, pass through meta ?
        ext.b0_thr_extract_b0       = params.dwi_b0_extract_threshold
    }

    withName: "TRACTOFLOW:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY" {
        ext.prefix_topup                            = params.dwi_susceptibility_filter_output_prefix
        ext.slice_drop_flag                         = params.dwi_motion_and_eddy_filter_restore_slices
        ext.bet_topup_before_eddy_f                 = params.dwi_motion_and_eddy_filter_bet_f_threshold
        ext.eddy_cmd                                = params.dwi_motion_and_eddy_filter_command
        ext.dilate_b0_mask_prelim_brain_extraction  = params.dwi_mask_prelim_bet_dilation_radius
        ext.bet_prelim_f                            = params.dwi_mask_prelim_bet_f_threshold
        ext.b0_thr_extract_b0                       = params.dwi_b0_extract_threshold
        ext.encoding                                = "y"  //FIXME : this is subject bound, pass through meta ?
        ext.readout                                 = 0.062 //FIXME : this is subject bound, pass through meta ?
    }

    withName: "TRACTOFLOW:PREPROC_DWI:BETCROP_FSLBETCROP" {
        ext.bet_f   = params.dwi_mask_final_bet_f_threshold
        ext.b0_thr  = params.dwi_b0_extract_threshold
        ext.crop    = true
        ext.dilate  = false
    }

    withName: "TRACTOFLOW:PREPROC_DWI:N4_DWI" {
        ext.bspline_knot_per_voxel  = params.dwi_intensities_normalize_density
        ext.shrink_factor           = params.dwi_intensities_normalize_subsampling
    }

    withName: "TRACTOFLOW:PREPROC_DWI:RESAMPLE_DWI" {
        ext.voxel_size      = params.dwi_spatial_resample_resolution
        ext.interp          = params.dwi_spatial_resample_interpolation
        ext.first_suffix    = "dwi"
    }

    withName: "TRACTOFLOW:PREPROC_DWI:BETCROP_CROPVOLUME" {
        ext.output_bbox = false
    }

    withName: "TRACTOFLOW:PREPROC_DWI:RESAMPLE_MASK" {
        ext.voxel_size      = params.dwi_spatial_resample_resolution
        ext.interp          = "nn"
        ext.first_suffix    = "dwi_mask"
    }

    withName: "TRACTOFLOW:PREPROC_T1:BETCROP_CROPVOLUME_T1" {
        ext.output_bbox     = true
        ext.first_suffix    = "t1"
    }

    withName: "TRACTOFLOW:PREPROC_T1:IMAGE_RESAMPLE" {
        ext.voxel_size      = params.t1_spatial_resample_resolution
        ext.interp          = params.t1_spatial_resample_interpolation
        ext.first_suffix    = "t1"
    }

    //withName: "TRACTOFLOW:T1_REGISTRATION:REGISTER_ANATTODWI" {
        // Nothing to do !
    //}

    //withName: "TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FASTSEG" {
        // Nothing to do !
    //}

    //withName: "TRACTOFLOW:ANATOMICAL_SEGMENTATION:SEGMENTATION_FREESURFERSEG" {
        // Nothing to do !
    //}

    /* MODULES CONFIGURATION */

    withName: "TRACTOFLOW:REGISTRATION_FA" {
        ext.fa          = true
        ext.ad          = false
        ext.evecs       = false
        ext.evals       = false
        ext.ga          = false
        ext.rgb         = false
        ext.md          = false
        ext.mode        = false
        ext.norm        = false
        ext.rd          = false
        ext.tensor      = false
        ext.nonphysical = false
        ext.pulsation   = false
        ext.residual    = false
    }

    withName: "TRACTOFLOW:TRANSFORM_WMPARC" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }

    withName: "TRACTOFLOW:TRANSFORM_APARC_ASEG" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "MultiLabel"
        ext.output_dtype    = "short"
        ext.default_val     = 0
    }

    withName: "TRACTOFLOW:RECONST_FRF" {
        ext.fa          = params.dwi_fodf_fit_frf_max_fa_threshold
        ext.fa_min      = params.dwi_fodf_fit_frf_min_fa_threshold
        ext.nvox_min    = params.dwi_fodf_fit_frf_min_n_voxels
        ext.roi_radius  = params.dwi_fodf_fit_frf_roi_radius
        ext.set_frf     = params.dwi_fodf_fit_force_frf ? true : false
        ext.manual_frf  = params.dwi_fodf_fit_force_frf
    }

    //withName: "RECONST_MEANFRF" {
        // Nothing to do !
    //}

    withName: "TRACTOFLOW:RECONST_DTIMETRICS" {
        ext.ad          = true
        ext.evecs       = true
        ext.evals       = true
        ext.fa          = true
        ext.ga          = true
        ext.rgb         = true
        ext.md          = true
        ext.mode        = true
        ext.norm        = true
        ext.rd          = true
        ext.tensor      = true
        ext.nonphysical = true
        ext.pulsation   = true
        ext.residual    = true
    }

    withName: "TRACTOFLOW:RECONST_FODF" {
        ext.b0_thr_extract_b0       = params.dwi_b0_extract_threshold
        ext.dwi_shell_tolerance     = params.dwi_shell_extract_tolerance
        ext.min_fodf_shell_value    = params.dwi_fodf_fit_shell_min_bval
        ext.fodf_shells             = params.dwi_fodf_fit_shells
        ext.sh_order                = params.dwi_fodf_fit_order
        ext.sh_basis                = params.dwi_fodf_fit_basis
        ext.fa_threshold            = params.dwi_fodf_fit_peaks_ventricle_max_fa
        ext.md_threshold            = params.dwi_fodf_fit_peaks_ventricle_min_md
        ext.relative_threshold      = params.dwi_fodf_fit_peaks_relative_threshold
        ext.fodf_metrics_a_factor   = params.dwi_fodf_fit_peaks_absolute_factor
        ext.absolute_peaks          = true
        ext.peaks                   = true
        ext.peak_indices            = true
        ext.afd_max                 = true
        ext.afd_total               = true
        ext.afd_sum                 = true
        ext.nufo                    = true
    }

    withName: "TRACTOFLOW:TRACKING_PFTTRACKING" {
        ext.pft_seeding_mask_type           = params.fodf_pft_fit_seeding_type
        ext.pft_fa_seeding_mask_threshold   = params.fodf_pft_fit_seeding_fa_mask_threshold
        ext.pft_seeding                     = params.fodf_pft_fit_seeding_strategy
        ext.pft_nbr_seeds                   = params.fodf_pft_fit_seeding_n_seeds
        ext.pft_algo                        = params.fodf_pft_fit_algorithm
        ext.pft_step                        = params.fodf_pft_fit_step_size
        ext.pft_theta                       = params.fodf_pft_fit_theta_max_deviation
        ext.pft_sfthres                     = params.fodf_pft_fit_sf_threshold
        ext.pft_sfthres_init                = params.fodf_pft_fit_sf_initial_threshold
        ext.pft_min_len                     = params.fodf_pft_fit_streamline_min_length
        ext.pft_max_len                     = params.fodf_pft_fit_streamline_max_length
        ext.pft_particles                   = params.fodf_pft_fit_filter_n_particles
        ext.pft_back                        = params.fodf_pft_fit_filter_backward_step_size
        ext.pft_front                       = params.fodf_pft_fit_filter_forward_step_size
        ext.pft_random_seed                 = params.fodf_pft_fit_random_seed
        ext.pft_compress_streamlines        = params.fodf_pft_fit_compress_tractogram
        ext.pft_compress_value              = params.fodf_pft_fit_compress_max_displacement
        ext.basis                           = params.dwi_fodf_fit_basis
    }

    withName: "TRACTOFLOW:TRACKING_LOCALTRACKING" {
        ext.local_tracking_mask_type            = params.fodf_local_fit_tracking_mask_type
        ext.local_fa_tracking_mask_threshold    = params.fodf_local_fit_tracking_mask_fa_threshold
        ext.local_seeding_mask_type             = params.fodf_local_fit_seeding_type
        ext.local_fa_seeding_mask_threshold     = params.fodf_local_fit_seeding_fa_threshold
        ext.local_seeding                       = params.fodf_local_fit_seeding_strategy
        ext.local_nbr_seeds                     = params.fodf_local_fit_seeding_n_seeds
        ext.local_algo                          = params.fodf_local_fit_algorithm
        ext.local_step                          = params.fodf_local_fit_step_size
        ext.local_theta                         = params.fodf_local_fit_theta_max_deviation
        ext.local_sfthres                       = params.fodf_local_fit_sf_threshold
        ext.local_min_len                       = params.fodf_local_fit_streamline_min_length
        ext.local_max_len                       = params.fodf_local_fit_streamline_max_length
        ext.local_random_seed                   = params.fodf_local_fit_random_seed
        ext.local_compress_streamlines          = params.fodf_local_fit_compress_tractogram
        ext.local_compress_value                = params.fodf_local_fit_compress_max_displacement
        ext.basis                               = params.dwi_fodf_fit_basis
    }
}
