params {
    //**Global options**//
    dwi_b0_extract_threshold                        = 10
    dwi_shell_extract_tolerance                     = 20

    //**SH fitting**//
    dwi_fit_signal_sh                               = true
    dwi_signal_sh_fit_order                         = 6
    dwi_signal_sh_fit_basis                         = "descoteaux07"
    dwi_signal_sh_fit_shell                         = null

    //**Preliminary DWI brain extraction**//
    dwi_mask_prelim_bet_dilation_radius             = 5
    dwi_mask_prelim_bet_f_threshold                 = 0.16

    //**Denoise dwi (dwidenoise in Mrtrix3)**//
    dwi_filter_noise                                = true
    dwi_noise_filter_patch_size                     = 7

    //**GIBBS CORRECTION (mrdegibbs in Mrtrix3)**//
    dwi_filter_gibbs                                = false

    //**Topup**//
    dwi_filter_susceptibility                       = true
    dwi_susceptibility_filter_config_file           = "b02b0.cnf"
    dwi_susceptibility_filter_output_prefix         = "topup_results"

    //**Eddy**//
    dwi_filter_eddy_and_motion                      = true
    dwi_motion_and_eddy_filter_command              = "eddy_cpu"
    dwi_motion_and_eddy_filter_bet_f_threshold      = 0.16
    dwi_motion_and_eddy_filter_restore_slices       = true
    dwi_motion_and_eddy_filter_command_args         = ""

    //**Final DWI BET**//
    dwi_mask_final_bet_f_threshold                  = 0.16

    //**Denoise T1**//
    t1_filter_noise                                 = true

    //**Resample T1**//
    t1_resample_spatial                             = true
    t1_spatial_resample_resolution                  = 1
    t1_spatial_resample_interpolation               = "lin"

    //**Normalize DWI**//
    dwi_intensities_normalize_density               = 1
    dwi_intensities_normalize_subsampling           = 2

    //**Resample DWI**//
    dwi_resample_spatial                            = true
    dwi_spatial_resample_resolution                 = 1
    dwi_spatial_resample_interpolation              = "lin"

    //**Extract DTI shells using this value as maximum**//
    dwi_dti_fit_shell_max_bval                      = 1200
    dwi_dti_fit_shells                              = null

    //**Extract fODF shells using this value as minimum**//
    dwi_fodf_fit_shell_min_bval                     = 700
    dwi_fodf_fit_shells                             = null

    //**Segment tissues**//
    t1_tissue_segment_n_classes                     = 3

    //**Compute fiber response function (frf)**//
    dwi_fodf_fit_frf_max_fa_threshold               = 0.7
    dwi_fodf_fit_frf_min_fa_threshold               = 0.5
    dwi_fodf_fit_frf_min_n_voxels                   = 300
    dwi_fodf_fit_frf_roi_radius                     = 20
    dwi_fodf_fit_force_frf                          = null

    //**Mean fiber response function (frf)**//
    dwi_fodf_fit_use_average_frf                    = false

    //**Compute fODF metrics**//
    dwi_fodf_fit_order                              = 8
    dwi_fodf_fit_basis                              = "descoteaux07"
    dwi_fodf_fit_peaks_absolute_factor              = 2.0
    dwi_fodf_fit_peaks_relative_threshold           = 0.1
    dwi_fodf_fit_peaks_ventricle_max_fa             = 0.1
    dwi_fodf_fit_peaks_ventricle_min_md             = 0.003

    //**PFT tracking**//
    fodf_fit_pft                                    = true
    fodf_pft_fit_random_seed                        = 0
    fodf_pft_fit_algorithm                          = "prob"
    fodf_pft_fit_step_size                          = 0.5
    fodf_pft_fit_theta_max_deviation                = 20
    fodf_pft_fit_streamline_min_length              = 20
    fodf_pft_fit_streamline_max_length              = 200
    fodf_pft_fit_seeding_type                       = "wm"
    fodf_pft_fit_seeding_strategy                   = "npv"
    fodf_pft_fit_seeding_n_seeds                    = 10
    fodf_pft_fit_seeding_fa_mask_threshold          = 0.1
    fodf_pft_fit_filter_n_particles                 = 15
    fodf_pft_fit_filter_backward_step_size          = 2
    fodf_pft_fit_filter_forward_step_size           = 1
    fodf_pft_fit_sf_threshold                       = 0.1
    fodf_pft_fit_sf_initial_threshold               = 0.5
    fodf_pft_fit_compress_tractogram                = true
    fodf_pft_fit_compress_max_displacement          = 0.2

    //**Local tracking**//
    fodf_fit_local                                  = true
    fodf_local_fit_processor                        = "cpu"
    fodf_local_fit_gpu_batch_size                   = 10000     //FIXME : this should be computed
    fodf_local_fit_random_seed                      = 0
    fodf_local_fit_algorithm                        = "prob"
    fodf_local_fit_step_size                        = 0.5
    fodf_local_fit_theta_max_deviation              = 20
    fodf_local_fit_streamline_min_length            = 20
    fodf_local_fit_streamline_max_length            = 200
    fodf_local_fit_seeding_type                     = "wm"
    fodf_local_fit_seeding_strategy                 = "npv"
    fodf_local_fit_seeding_n_seeds                  = 10
    fodf_local_fit_seeding_fa_threshold             = 0.1
    fodf_local_fit_tracking_mask_type               = "wm"
    fodf_local_fit_tracking_mask_fa_threshold       = 0.1
    fodf_local_fit_sf_threshold                     = 0.1
    fodf_local_fit_sf_initial_threshold             = 0.5
    fodf_local_fit_compress_tractogram              = true
    fodf_local_fit_compress_max_displacement        = 0.2
}

includeConfig "modules.config"
