params {
    //**Global options**//
    b0_max_threshold                                = 10
    bvalue_tolerance                                = 20

    //**SH fitting**//
    dwi_signal_sh_fit                               = true
    dwi_signal_sh_fit_order                         = 6
    dwi_signal_sh_fit_basis                         = "descoteaux07"
    dwi_signal_sh_fit_shell                         = null

    //**Denoise dwi (dwidenoise in Mrtrix3)**//
    preproc_dwi_run_denoising                       = true
    dwi_denoise_patch_size                          = 7

    //**GIBBS CORRECTION (mrdegibbs in Mrtrix3)**//
    preproc_dwi_run_degibbs                         = false

    //**Topup**//
    topup_eddy_run_topup                            = true
    dwi_topup_config_file                           = "b02b0.cnf"

    //**Eddy**//
    topup_eddy_run_eddy                             = true
    dwi_eddy_executable                             = "eddy_cpu"
    dwi_eddy_restore_slices                         = true

    //**Denoise T1**//
    preproc_t1_run_denoising                        = true
    preproc_t1_run_N4                               = true
    preproc_t1_run_synthbet                         = false
    preproc_t1_run_ants_bet                         = true
    preproc_t1_run_crop                             = true

    //**Resample T1**//
    preproc_t1_run_resampling                       = true
    t1_resample_resolution_mm_iso                   = 1
    t1_resample_interpolation                       = "lin"

    //**Normalize DWI**//
    preproc_dwi_run_N4                              = true
    dwi_n4_density                                  = 1
    dwi_n4_subsampling                              = 2

    //**Resample DWI**//
    preproc_dwi_run_resampling                      = true
    dwi_resample_resolution_mm_iso                  = 1
    dwi_resample_interpolation                      = "lin"

    //**Extract DTI shells using this value as maximum**//
    dti_max_bvalue                                  = 1200
    dti_shells_to_fit                               = null

    //**Extract fODF shells using this value as minimum**//
    fodf_min_bvalue                                 = 700
    fodf_shells_to_fit                              = null

    //**Compute fiber response function (frf)**//
    frf_fa_max_threshold                            = 0.7
    frf_fa_min_threshold                            = 0.5
    frf_min_n_voxels                                = 300
    frf_roi_radius                                  = 20
    frf_value_to_force                              = null

    //**Mean fiber response function (frf)**//
    frf_average_from_data                           = false

    //**Compute fODF metrics**//
    fodf_sh_order                                   = 8
    fodf_sh_basis                                   = "descoteaux07"
    fodf_peaks_absolute_factor                      = 2.0
    fodf_peaks_relative_threshold                   = 0.1
    fodf_peaks_ventricle_max_fa                     = 0.1
    fodf_peaks_ventricle_min_md                     = 0.003

    //**PFT tracking**//
    run_pft                                         = true
    pft_random_seed                                 = 0
    pft_algorithm                                   = "prob"
    pft_step_mm                                     = 0.5
    pft_theta_max_deviation                         = 20
    pft_min_streamline_length                       = 20
    pft_max_streamline_length                       = 200
    pft_seeding_type                                = "wm"
    pft_seeding_strategy                            = "npv"
    pft_number_of_seeds                             = 10
    pft_fa_min_threshold                            = 0.1
    pft_number_of_particles                         = 15
    pft_backward_step_mm                            = 2
    pft_forward_step_mm                             = 1
    pft_compression_step_mm                         = 0.2

    //**Local tracking (LT)**//
    run_local_tracking                              = true
    lt_processor                                    = "cpu"
    lt_gpu_batch_size                               = 10000     //FIXME : this should be computed
    lt_random_seed                                  = 0
    lt_algorithm                                    = "prob"
    lt_step_mm                                      = 0.5
    lt_theta_max_deviation                          = 20
    lt_min_streamline_length                        = 20
    lt_max_streamline_length                        = 200
    lt_seeding_type                                 = "wm"
    lt_seeding_strategy                             = "npv"
    lt_number_of_seeds                              = 10
    lt_fa_min_threshold_for_seeding                 = 0.1
    lt_tracking_type                                = "wm"
    lt_fa_min_threshold_for_tracking                = 0.1
    lt_compression_step_mm                          = 0.2
}

includeConfig "modules.config"
