process {
    withName: "DENOISE_DWI" {
        ext.extent = 3
    }
    withName: "DENOISE_REVDWI" {
        ext.extent = 3
    }
    withName: "UTILS_EXTRACTB0" {
        ext.b0_extraction_strategy = "mean"
    }
    withName: "PREPROC_TOPUP" {
        ext.prefix_topup = "topup_results"
        ext.default_config_topup = "b02b0.cnf"
        ext.encoding = "y"
        ext.readout = 0.062
        ext.b0_thr_extract_b0 = 10
    }
    withName: "PREPROC_EDDY" {
        ext.prefix_topup = "topup_results"
        ext.slice_drop_flag = true
        ext.bet_topup_before_eddy_f = 0.16
        ext.eddy_cmd = "eddy_cpu"
        ext.dilate_b0_mask_prelim_brain_extraction = 5
        ext.bet_prelim_f = 0.16
        ext.b0_thr_extract_b0 = 10
        ext.encoding = "y"
        ext.readout = 0.062
        ext.extra_args = "--flm=linear --niter=2"
    }
    withName: "BETCROP_FSLBETCROP" {
        ext.bet_f = 0.16
        ext.b0_thr = 10
        ext.crop = true
        ext.dilate = false
    }
    withName: "N4_DWI" {
        ext.bspline_knot_per_voxel = 0.25
        ext.shrink_factor = 1
    }
    withName: "RESAMPLE_DWI" {
        ext.voxel_size = 1
        ext.interp = "lin"
    }
    withName: "IMAGE_CROPVOLUME" {
        ext.output_bbox = false
    }

    withName: "RESAMPLE_MASK" {
        ext.voxel_size = 1
        ext.interp = "nn"
    }
}

params.topup_eddy_run_topup = true
params.topup_eddy_run_eddy = true
params.preproc_dwi_run_denoising = true
params.preproc_dwi_run_degibbs = true
params.preproc_dwi_run_N4 = true
params.preproc_dwi_run_resampling = true
