process {
    withName: "CONNECTIVITY_DECOMPOSE" {
        ext.no_pruning = true
        ext.no_remove_loops = true
        ext.no_remove_outliers = true
        ext.no_remove_curv = true
        ext.min_len = 20.0
        ext.max_len = 200.0
        ext.outlier_threshold = 0.6
        ext.max_angle = 330.0
        ext.max_curv = 10.0
        }
    }
