process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "BUNDLE_COLORING" {
        ext.colors = [
            "bundle_0":"0xd9bd09",
            "bundle_1":"0xcc0000",
            "bundle_2":"0xffdf0f",
            "bundle_3":"0x0d6cbf",
            "bundle_4":"0xbf0099",
            "bundle_5":"0xf20505",
            "bundle_6":"0x9ad909"
        ]
    }
}
