process {
    withName: "REGISTRATION_SYNTHMORPH" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.models = ["affine", "deform"]
        ext.regularization = 0.9
        ext.steps = 9
        ext.extent = 192
        memory = '18G'
    }
}
