process {
    withName: "RECONST_DKIMETRICS" {
        ext.ak = false
        ext.dki_ad = true
        ext.dki_fa = true
        ext.dki_md = true
        ext.dki_rd = true
        ext.mk = false
        ext.msk = false
        ext.rk = false
        ext.dki_residual = false
        ext.msd = false
        ext.tolerance = 50
        ext.min_k = false
        ext.max_k = false
        ext.smooth = false
    }
}
