process {
    withName: "RECONST_DKIMETRICS" {
        ext.ak = true
        ext.dki_ad = true
        ext.dki_fa = true
        ext.dki_md = true
        ext.dki_rd = true
        ext.mk = true
        ext.msk = true
        ext.rk = true
        ext.dki_residual = true
        ext.msd = true
        ext.tolerance = 50
        ext.min_k = true
        ext.max_k = true
        ext.smooth = true
    }
}
