process {
    withName: "REGISTRATION_SYNTHREGISTRATION" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        memory = "40G"
        ext.affine = "affine"
        ext.warp = "deform"
        ext.lambda = 0.9
        ext.steps = 9
    }
}
