process {
    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS" {
        ext.interpolation = "linear"
        ext.first_suffix = "b0"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "float"
        ext.default_val = 0
        ext.run_qc = true
        ext.suffix_qc = "b0_to_template"
    }
}
