process {
    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS" {
        ext.interpolation = "Linear"
        ext.suffix = "to_template"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "float"
        ext.default_val = 0
        ext.run_qc = true
        ext.suffix_qc = "to_template"
    }
}
