params.pydeface_cpus = 1
params.pydeface_mem  = '3 GB'
params.pydeface_time = '1h'

process {
    cpus = 1
}

trace {
    enabled = false
    overwrite = true
}

timeline {
    enabled = false
    overwrite = true
}

report {
    enabled = false
    overwrite = true
}

dag {
    enabled = false
    overwrite = true
}
