process {
    withName: "TRACKING_PFTTRACKING" {
        ext.pft_random_seed = 1234
        ext.pft_compress_streamlines = true
        ext.pft_compress_value = 0.2
        ext.pft_algo = "prob"
        ext.pft_seeding = "nt"
        ext.pft_nbr_seeds = 100
        ext.pft_step = 0.5
        ext.pft_seeding_mask_type = "wm"
        ext.pft_theta = 20
        ext.pft_sfthres = 0.1
        ext.pft_sfthres_init = 0.5
        ext.pft_min_len = 5
        ext.pft_max_len = 40
        ext.pft_particles = 5
        ext.pft_back = 2
        ext.pft_front = 1
        ext.basis = "descoteaux07"
        ext.run_qc = true
    }
}
