process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "TRACTOGRAM_RESAMPLE" {
        ext.never_upsample = true
        ext.nb_streamlines = 5000
        ext.seed = 44
        ext.point_wise_std = 1
        ext.tube_radius = 1
        ext.gaussian = 0
        ext.error_rate = 0.1
        ext.keep_invalid = true
        ext.downsample_per_cluster = false
    }
}
