process {
    withName: "RECONST_FODF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.min_fodf_shell_value = 700
        ext.sh_order = 2
        ext.sh_basis = "descoteaux07"
        ext.fa_threshold = 0.1
        ext.md_threshold = 0.003
        ext.relative_threshold = 0.1
        ext.absolute_peaks = true
        ext.peaks = false
        ext.peak_values = false
        ext.peak_indices = false
        ext.afd_max = false
        ext.afd_total = false
        ext.afd_sum = false
        ext.nufo = false
    }
}
