process {
    withName: "RECONST_FODF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.min_fodf_shell_value = 100
        ext.sh_order = 2
        ext.sh_basis = "descoteaux07"
        ext.fa_threshold = 0.1
        ext.md_threshold = 0.003
        ext.relative_threshold = 0.1
        ext.absolute_peaks = true
        ext.peaks = true
        ext.peak_values = true
        ext.peak_indices = true
        ext.afd_max = true
        ext.afd_total = true
        ext.afd_sum = true
        ext.nufo = true
        ext.wm_fodf = true
        ext.gm_fodf = true
        ext.csf_fodf = true
        ext.vf = true
        ext.vf_rgb = true
        ext.method = "msmt"
        ext.ventricles_mask = true
    }
}
