process {
    withName: "STATS_MERGEJSON" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.prefix = "length"
        ext.per_point = false
        ext.recursive = false
        ext.average_last_layer = false
        ext.no_list = true
        ext.stats_over_population = false
    }
}
