process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "BUNDLE_STATS" {
        ext.density_weighting = true
        ext.normalize_weights = true
        ext.length_stats = true
        ext.endpoints = true
        ext.mean_std = true
        ext.volume = true
        ext.volume_per_labels = true
        ext.mean_std_per_point = true
        ext.lesions_stats = true
        ext.min_lesion_vol = 7
    }
}
