process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "BET_T1W" {
        ext.bet_f = 0.6
        ext.crop = false
        ext.dilate = false
    }
    withName: "BET_T2W" {
        ext.bet_f = 0.6
        ext.crop = false
        ext.dilate = false
    }
    withName: "REGISTRATION_ANTS" {
        ext.repro_mode = 1
        ext.transform = "s"
        ext.quick = true
    }
    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS" {
        ext.interpolation = "linear"
        ext.first_suffix = "T1w"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "float"
        ext.default_val = 0
    }
    withName: "REGISTRATION_TRACTOGRAM" {
        ext.inverse = true
        ext.force = true
        ext.reverse_operation = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
    }
}

params.templateflow_home = "/path/to/your/local/folder"
params.template = "MNI152NLin2009cAsym"
params.templateflow_res = 1
params.templateflow_cohort = null
params.use_template_t2w = false
