process {
    withName: "REGISTRATION_ANTS" {
        ext.quick = true
        ext.threads = 1
        ext.random_seed = 44
        ext.repro_mode = 1
        ext.transform = "r"
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
    withName: "BUNDLE_RECOGNIZE" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.minimal_vote_ratio = 0.8
        ext.rbx_processes = 1
        ext.seed = 44
        ext.outlier_alpha = 0.4
    }
}
