process {
    withName: "REGISTRATION_COBRALABANTS" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.masking_strategy = "both"
        ext.fast = true
        ext.run_qc = true
        ext.suffix_qc = "T1_to_T1_slab"
        ext.reproducibility = true
        ext.single_thread = true
    }
}
