import groovy.json.JsonSlurper

params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false

    nf_scil_test_data_remote = "https://scil.usherbrooke.ca"
    nf_scil_test_database_path = "scil_test_data/dvc-store/files/md5"
    nf_scil_test_data_associations = new JsonSlurper().parse(
        new File("$projectDir/tests/config/test_data.json")
    )
}

report {
    enabled = true
    file = "$launchDir/report.html"
    overwrite = true
}

process {
    cpus = 4
    memory = 5.GB
    time = 2.h
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    podman {
        podman.enabled = true
        podman.userEmulation = true
        podman.runOptions = "--runtime crun --platform linux/x86_64 --systemd=always"
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    docker_self_hosted{
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '--platform=linux/amd64'
    }
}

manifest {
    nextflowVersion = '!>=23.04.0'
}
