import groovy.json.JsonSlurper

params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false

    nf_scil_test_data_remote = "https://scil.usherbrooke.ca"
    nf_scil_test_database_path = "scil_test_data/dvc-store/files/md5"
    nf_scil_test_data_associations = new JsonSlurper().parse(
        new File("$projectDir/tests/config/test_data.json")
    )
}

report {
    enabled = true
    file = "$launchDir/report.html"
    overwrite = true
}

includeConfig "$projectDir/tests/config/nextflow.config"