process {
    withName: "REGISTRATION_CONVERT" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.in_format_affine = "fsl"
        ext.out_format_affine = "itk"
        ext.in_format_deform = "fsl"
        ext.out_format_deform = "itk"
    }
}
