process {
    withName: "CONNECTIVITY_VISUALIZE" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.name_axis = true
        ext.display_legend = true
        ext.exclude_zeros = true
        ext.ext.nb_bins = 50
        ext.axis_text_size = 5
    }
}
