

params.max_cpus = 4
params.max_time = 24.h


profiles {
    default_github_runner {
        params.max_memory = 5.GB
    }
    big_mem_github_runner {
        params.max_memory = 16.GB
    }
    devcontainer {
        params.max_cpus = query_container_limits('cpus')
        params.max_memory = query_container_limits('memory')
    }
}
