process {
    withName: "TRACTOGRAM_REMOVEINVALID" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.force = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.5
        ext.no_empty = true
    }
    withName: "BUNDLE_FIXELAFD" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
    withName: "TRACTOGRAM_RESAMPLE" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.nb_points = 10
    }
    withName: "BUNDLE_CENTROID" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.nb_points = 10
    }
    withName: "BUNDLE_LABELMAP" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.nb_points = 10
        ext.colormap = "jet"
        ext.new_labelling = true
    }
    withName: "BUNDLE_UNIFORMIZE" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.method = "centroid"
    }
    withName: "BUNDLE_STATS" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.density_weighting = false
        ext.normalize_weights = true
        ext.length_stats = false
        ext.endpoints = false
        ext.mean_std = true
        ext.volume = true
        ext.volume_per_labels = true
        ext.mean_std_per_point = true
        ext.lesions_stats = true
        ext.min_lesion_vol = 3
    }
}
