process {
    withName: "REGISTRATION_ANTS" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.quick = true
        ext.run_qc = true
        ext.threads = 1
        ext.transform = "r"
        ext.histogram_bins = 4
        ext.spline_distance = 26
        ext.gradient_step = 0.1
        ext.histogram_matching = 0
        ext.repro_mode = 0
        ext.collapse_output = 0
        ext.random_seed = 1234
    }
}
