process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "IMAGE_RESAMPLE" {
        ext.voxel_size = 1
        ext.interp = "lin"
    }
}

params.run_denoising = true
params.run_N4 = false
params.run_resampling = true
params.run_ants_bet = false
params.run_synthbet = false
params.run_crop = true
