process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "BETCROP_SYNTHBET" {
        memory = "8G"
        ext.nocsf = true
    }
}

params.run_denoising = false
params.run_N4 = false
params.run_resampling = false
params.run_ants_bet = false
params.run_synthbet = false
params.run_crop = false
