process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "BETCROP_SYNTHBET" {
        memory = "8G"
        ext.nocsf = true
    }
}

params.preproc_t1_run_denoising = false
params.preproc_t1_run_N4 = false
params.preproc_t1_run_resampling = false
params.preproc_t1_run_ants_bet = false
params.preproc_t1_run_synthbet = false
params.preproc_t1_run_crop = false
