process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "IMAGE_RESAMPLE" {
        ext.voxel_size = 1
        ext.interp = "lin"
    }
    withName: "IMAGE_CROPVOLUME_T1" {
        ext.output_bbox = true
        ext.first_suffix = "t1"
    }
}

params.preproc_t1_run_denoising = true
params.preproc_t1_run_N4 = true
params.preproc_t1_run_resampling = true
params.preproc_t1_run_ants_bet = true
params.preproc_t1_run_synthbet = false
params.preproc_t1_run_crop = true
