name: PR update checks
on:
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested
    branches: -main

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    uses: ./.github/workflows/run_checks_suite.yml
    secrets: inherit
